body{
    display: flex;
    justify-content: center;
}

.thead{
    background-color: aqua;
}
.thead th{
    min-width: 10rem;
    font-size: 2rem;
}
.tbody{
    background-color: bisque;
}
.tbody td{
    text-align: center;
    font-size: 1.5rem;
}
